:root {
    --mula-btn-c: #fff;
    --mula-btn-ft-wt: 700;
    --mula-btn1-bg-c: #000;
    --mula-btn1-bd-c: #000;
    --mula-btn1h-bg-c: #fff5e6;
    --mula-btn1h-bd-c: #000;
    --mula-btn1h-c: #000;
    --mula-btn2-bg-c: #6094fb;
    --mula-btn2-bd-c: #97c1ff;
    --mula-btn2-c: #fff;
    --mula-btn2h-bg-c: #97c1ff;
    --mula-btn2h-bd-c: #6094fb;
    --mula-btn2h-c: #000;
    --mula-rib-bg-c: #fc713a;
    --mula-font-family: Soleil, Helvetica, Arial, sans-serif;;
}
