name: Mula Deployment on Tag

on:
  push:
    tags:
      - "sdk-v*"
      - "cdn-v*"
      - "www-v*"

jobs:
  sdk-trigger:
    if: startsWith(github.ref, 'refs/tags/sdk-v')
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Trigger SDK Deployment
        run: |
          echo "Triggering SDK Deployment"
          gh workflow run "Deploy SDK to AWS" -R thisisalphastudio/mula --ref $(git describe --tags)

  cdn-trigger:
    if: startsWith(github.ref, 'refs/tags/cdn-v')
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Trigger CDN Deployment
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          echo "Triggering CDN Deployment"
          gh workflow run deploy.yml -R mula/cdn.makemula.ai --ref $(git describe --tags)

  www-trigger:
    if: startsWith(github.ref, 'refs/tags/www-v')
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Trigger WWW Deployment
        run: |
          echo "Triggering WWW Deployment"
          gh workflow run "Deploy WWW to Heroku" -R thisisalphastudio/mula --ref $(git describe --tags)

