:root {
    --mula-btn-c: #fff;
    --mula-btn-ft-wt: 700;
    --mula-btn1-bg-c: #023e17;
    --mula-btn1-bd-c: #036b2b;
    --mula-btn1h-bg-c: #036b2b;
    --mula-btn1h-bd-c: #023e17;
    --mula-btn1h-c: #fff;
    --mula-btn2-bg-c: #f59e0b;
    --mula-btn2-bd-c: #fbbf24;
    --mula-btn2-c: #fff;
    --mula-btn2h-bg-c: #fbbf24;
    --mula-btn2h-bd-c: #f59e0b;
    --mula-btn2h-c: #fff;
    --mula-rib-bg-c: #023e17;
    --mula-font-family: "CinaGEO, sans-serif";
}

